In [1]:
import pandas as pd

In [7]:
data = pd.read_csv("testSamplesOutput.csv", sep = "\t")

In [8]:
data

,#chrom,start,end,JSD_bit_,sample size,HMIX_bit_,m,um
0,5,102,102,0.416,10,0.994,70,84
1,5,103,103,0.165,10,0.953,73,123
2,5,142,142,0.139,10,0.804,126,41
3,5,167,167,0.321,10,0.924,109,56
4,5,188,188,0.215,10,0.697,134,31
...,...,...,...,...,...,...,...,...
1211243,5,26879890,26879890,0.000,10,0.000,0,62
1211244,5,26879891,26879891,0.000,10,0.000,0,55
1211245,5,26915969,26915969,0.000,10,0.000,0,8
1211246,5,26973427,26973427,0.000,10,0.000,0,4
1211247,5,26892271,26892271,0.000,10,0.000,0,3

In [13]:
data = pd.read_csv("testSampleCSVs/output_testSamplesCpG.csv", sep = "\t")
data

      #chrom   start     end  JSD_bit_  sample size  HMIX_bit_   m    um
0         Mt       6       6     0.080           10      0.153  14   618
1         Mt       7       7     0.115           10      0.323   7   112
2         Mt      10      10     0.073           10      0.165  17   680
3         Mt      11      11     0.101           10      0.249   9   208
4         Mt      58      58     0.107           10      0.172  35  1333
...      ...     ...     ...       ...          ...        ...  ..   ...
11259     Mt  330645  330645     0.000           10      0.000   0     6
11260     Mt  331204  331204     0.592           10      0.592   1     6
11261     Mt  332124  332124     0.000           10      0.000   0     4
11262     Mt  327149  327149     0.000           10      0.000   0     5
11263     Mt  327201  327201     0.000           10      0.000   0     4

[11264 rows x 8 columns]

In [14]:
data = pd.read_csv("testSampleCSVs/output_testSamplesCpG_Pt.csv", sep = "\t")
data

     #chrom   start     end  JSD_bit_  sample size  HMIX_bit_   m    um
0        Pt       6       6     0.018           10      0.043  34  7207
1        Pt       7       7     0.003           10      0.008   1  1501
2        Pt      10      10    -0.003           10      0.025  20  8162
3        Pt      11      11     0.006           10      0.032   8  2423
4        Pt      13      13    -0.012           10      0.028  26  9084
...     ...     ...     ...       ...          ...        ...  ..   ...
5367     Pt  150380  150380     0.000           10      0.000   0     7
5368     Pt   48085   48085     0.000           10      0.000   0     3
5369     Pt  124045  124045     0.000           10      0.000   0     3
5370     Pt  124048  124048     0.000           10      0.000   0     3
5371     Pt  135259  135259     0.000           10      0.000   0     3

[5372 rows x 8 columns]